'.text.html':
  'Vaadin Grid':
    'prefix': 'vaadin-grid'
    'body': """
      <vaadin-grid>
        <table>
          <colgroup>
            <col name="$1">
            <col name="$2">
            <col name="$3">
          </colgroup>
        </table>
      </vaadin-grid>
    """
