'.text.html':
  'Vaadin Pie Chart':
    'prefix': 'vaadin-pie-chart'
    'body': """
      <vaadin-pie-chart>
        <title>${1:Fibonacci}</title>
        <data-series>
          <data>
            ${2:["First",  1],
            ["Second", 1],
            ["Third",  2],
            ["Fourth", 3],
            ["Fifth",  5],
            ["Sixth",  8],
            ["Eighth", 13],
            ["Ninth",  21]}
          </data>
        </data-series>
      </vaadin-pie-chart>
    """
